.jumbotron {
    background: $background-secondary;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;

    h1 {
        text-align: left;
        font-size: 2rem;
        padding: 0.2rem;
        font-weight: 400;

        img {
            height: 1.2em;
            width: auto;
        }
    }

    .userarea {
        float: right;
        right: 0.5em;
        top: 0.5em;
        display: inline-block;
        position: absolute;
        text-align: right;

        .username {
            display: none;
        }

        form {
            display: inline-block;
            margin-right: 1em;
        }

        .addbox {
            font-size: 5em;
            color: #666;
            text-align: center;

            i {
                color: #444;
            }

            button {
                border: 0 !important;
                background: transparent;

            }
        }
    }
}

