div.plan-outer {
    min-height: 20rem;
    margin: 0;
    padding: 0;
}

div.plan {
    padding: 1.3em;
    background: #f0f0f0;
    margin: 2em 0.5em 2em;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    border-radius: 4px;

    .icon {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        border: 1px solid #2c3034;
        box-shadow: #2c3034 2px 2px 2px;
    }

}


div.plan h4 {
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: #2079D9;
}

div.plan h5 {
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: #2079D9;
    display: block;
    height: 2.6em;
}

.plan-price {
    color: #28A745;
    font-weight: 600;
    font-size: 2em;
    display: inline-block;
}

.plan-scans {
    color: #28A745;
    font-weight: 600;
    display: inline-block;
}

.plan-period {
    display: inline-block;
}

.plan-blurb {
    margin-top: 2em;
    color: #999;
    font-size: 0.9rem;
}

.plan-subscribe {
    margin-top: 3rem;
}

.normal {
}

.premium {
    color: #fde300;
    font-weight: 600;
}

table.premiumSubs {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #48B2F8;
    border-style: solid;
    color: #000000;
    border-radius: 5px;
}

table.premiumSubs td, table.premiumSubs th {
    border-width: 2px;
    border-color: #48B2F8;
    border-style: solid;
    padding: 5px;
}

table.premiumSubs tr:nth-child(even) {
    background-color: #efefef;
}

table.premiumSubs th {
    background-color: #48B2F8;
    color: #fff;
}
